---
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils";
import { urlFor } from "../../utils/image";
import { getPost, getPosts } from "../../utils/sanity";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const post = await getPost(slug);
---

<Layout title={post.title!}>
  <section class="card">
    {
      post.mainImage ? (
        <img
          class="card__cover"
          src={urlFor(post.mainImage).url()}
          alt="Article cover"
        />
      ) : (
        <div class="card__cover--none" />
      )
    }
    <div class="card__content">
      <h1 class="card__content--title">{post.title}</h1>
      <p class="card__content--excerpt">{post.excerpt}</p>
      <p class="card__content--date">
        {formatDate(post._createdAt)}
      </p>
      <div class="card__portabletext">
        <PortableText value={post.body} />
      </div>
    </div>
  </section>
</Layout>

<style>
  .card {
    margin: var(--space-5) 0;
  }

  .card__content--title {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-10);
    line-height: var(--line-height-10);
    margin: var(--space-6) 0 0;
    letter-spacing: -0.025em;
    font-weight: 800;
  }

  .card__content--excerpt {
    font-family: var(--font-family-serif);
    font-weight: 400;
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
    margin-top: var(--space-3);
    margin-bottom: var(--space-3);
  }

  .card__content--date {
    font-weight: 600;
    font-family: var(--font-family-sans);
    font-size: var(--font-size-3);
    line-height: var(--line-height-2);
    margin-top: var(--space-0);
  }

  .card__cover {
    width: 750px;
    height: 380px;
    object-fit: cover;
  }

  .card__cover--none {
    width: 750px;
    height: 380px;
    background: var(--black);
  }

  /* Targeting tags in PortableText */
  .card__portabletext {
    font-family: var(--font-family-serif);
    font-weight: 400;
    font-size: var(--font-size-4);
    line-height: var(--line-height-5);
    letter-spacing: -0.02em;
    margin-top: var(--space-6);
  }

  .card__portabletext blockquote {
    border-left: 5px solid var(--black);
    padding-left: var(--space-3);
    margin-left: var(--space-4);
  }

  .card__portabletext a {
    color: var(--blue-600);
    text-decoration: none;
  }

  @media (max-width: 800px) {
    .card__cover,
    .card__cover--none {
      width: 100%;
    }

    .card__cover--title {
      font-size: var(--font-size-7);
      line-height: var(--line-height-6);
      margin: var(--space-4) 0;
    }

    .card__cover--excerpt {
      font-size: var(--font-size-5);
      line-height: var(--line-height-4);
      margin-top: 0;
    }

    .card__cover--date {
      font-family: var(--font-family-sans);
      font-size: var(--font-size-1);
      line-height: var(--line-height-1);
      margin-top: var(--space-4);
    }

    .card {
      width: 100%;
      margin: var(--space-1) 0 var(--space-4);
    }
  }

  @media (max-width: 575px) {
    .card__cover,
    .card__cover--none {
      height: 200px;
    }

    .card__content {
      padding: 0 var(--space-4);
    }
  }
</style>
